<h1>About | このブログについて</h1>
<p>kin-gomaにようこそ！Welcome kin-goma! I'm happy you're here :D</p>
<p>
森の子＝アメリカ人女性、金髪。
自転車とルクルーゼを携え日本にやってきたビール好き。

海の子＝日本人女性、ごま塩頭。
海辺に育ち海辺から離れないビール好き。

そんな２人がカップルになり、遠距離恋愛を経て、日本で同棲を始め、２人のいろんな事をブログにでもしてみようかってことで、始めてみました。ブログタイトルの、kin-gomaは、金髪とごま塩頭の略をカッコ良く言ってみた感じです。えぇ、カッコ良くローマ字で。。。笑

もしメッセージや質問を送りたかったら、Menuの「メッセージ」のページからぜひ連絡してください！
</p>
